.grateful-list{
    grid-area: 3/4/5/7;
}

.grateful-list__input{
    background-color: transparent;
    border: none;
    border-bottom: #575757 solid 1px;
    outline: none;
    width: 100%;
}

ol{
    list-style-position: inside;
}
